notes.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0
	redir http://10.255.254.1:3000/
}

rss.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0
	redir http://10.255.254.1:7070/
}

pub.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log pub {
		level INFO
		format json
		output file /var/log/caddy/pub.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:8111 {
		header_up Accept-Encoding "{http.request.header.Accept-Encoding}"
		transport http {
			compression off
		}
	}
}

#dav.iou.re {
#	tls aomanu+caddy@gmail.com
#	bind 0.0.0.0
#
#	reverse_proxy 127.0.0.1:8102 {
#		header_down Strict-Transport-Security max-age=31536000;
#	}
#}

varnishlog.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log vlog {
		level INFO
		format json
		output file /var/log/caddy/vlog.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	respond /robots.txt <<TXT
		User-agent: *
		Disallow:
		TXT 200

	reverse_proxy 127.0.0.1:8080 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

bree.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	root * %%bree_root%%
	file_server
}

whoami.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log whoami {
		level INFO
		format json
		output file /var/log/caddy/whoami.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:8600 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}
