varnishlog.iou.re {
	tls @CERT_PATH@ @KEY_PATH@
	bind 0.0.0.0

	@unchecked not header Cookie *opensesame*

	handle @unchecked {
		header Content-Type text/html
		respond <<EOF
			<script>
				document.cookie = 'opensesame=1; Path=/;';
				window.location.reload();
			</script>
		EOF 418
	}

	log vlog {
		level INFO
		format json
		output file /var/log/caddy/vlog.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	respond /robots.txt <<TXT
		User-agent: *
		Disallow:
		TXT 200

	reverse_proxy 127.0.0.1:8080 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

bree.iou.re {
	tls @CERT_PATH@ @KEY_PATH@
	bind 0.0.0.0

	@unchecked not header Cookie *opensesame*

	handle @unchecked {
		header Content-Type text/html
		respond <<EOF
			<script>
				document.cookie = 'opensesame=1; Path=/;';
				window.location.reload();
			</script>
		EOF 418
	}

	root * /srv/www
	file_server
}

whoami.iou.re {
	tls @CERT_PATH@ @KEY_PATH@
	bind 0.0.0.0

	log whoami {
		level INFO
		format json
		output file /var/log/caddy/whoami.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:8600 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

cobylista.iou.re {
	tls @CERT_PATH@ @KEY_PATH@
	bind 0.0.0.0

	log cobylista {
		level INFO
		format json
		output file /var/log/caddy/cobylista.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:8754 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

#https://vault.iou.re {
#	tls @CERT_PATH@ @KEY_PATH@
#	bind 10.255.254.1
#
#	log vault {
#		level INFO
#		format json
#		output file /var/log/caddy/vault.log {
#			roll_size 10MiB
#			roll_keep 10
#			roll_keep_for 196h
#		}
#	}
#
#	@blocked not remote_ip 10.255.254.0/24
#	respond @blocked "Nope" 403
#
#	reverse_proxy 127.0.0.1:8222 {
#		header_up X-Real-IP {remote_host}
#	}
#}

# vim: ft=caddyfile noexpandtab
