varnishlog.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	@unchecked not header Cookie *opensesame*

	handle @unchecked {
		header Content-Type text/html
		respond <<EOF
			<script>
				document.cookie = 'opensesame=1; Path=/;';
				window.location.reload();
			</script>
		EOF 418
	}

	log vlog {
		level INFO
		format json
		output file /var/log/caddy/vlog.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	respond /robots.txt <<TXT
		User-agent: *
		Disallow:
		TXT 200

	reverse_proxy 127.0.0.1:8080 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

bree.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	@unchecked not header Cookie *opensesame*

	handle @unchecked {
		header Content-Type text/html
		respond <<EOF
			<script>
				document.cookie = 'opensesame=1; Path=/;';
				window.location.reload();
			</script>
		EOF 418
	}

	root * /srv/www
	file_server
}

whoami.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log whoami {
		level INFO
		format json
		output file /var/log/caddy/whoami.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:8600 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

foticos.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	@unchecked not header Cookie *opensesame*

	handle @unchecked {
		header Content-Type text/html
		respond <<EOF
			<script>
				document.cookie = 'opensesame=1; Path=/;';
				window.location.reload();
			</script>
		EOF 418
	}

	log foticos {
		level INFO
		format json
		output file /var/log/caddy/foticos.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:2283 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

# vim: ft=caddyfile noexpandtab
