notes.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log notes {
		level INFO
		format json
		output file /var/log/caddy/notes.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

        # Skip logs that do not start with '/.auth', caddy (go) regexp does not support negative lookaheads
	@logMatcher {
		not {
			path_regexp ^/\.auth.*$
		}
	}
	# Will be renamed to log_skip on >= 2.8.0
	skip_log @logMatcher

	reverse_proxy 127.0.0.1:3000 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

rss.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log rss {
		level INFO
		format json
		output file /var/log/caddy/rss.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:7070 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}
