notes.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0
	redir http://10.255.254.1:3000/
}

rss.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0
	redir http://10.255.254.1:7070/
}

#pub.iou.re {
#	tls aomanu+caddy@gmail.com
#	bind 0.0.0.0
#
#	reverse_proxy 127.0.0.1:8101 {
#		header_down Strict-Transport-Security max-age=31536000;
#	}
#}

#dav.iou.re {
#	tls aomanu+caddy@gmail.com
#	bind 0.0.0.0
#
#	reverse_proxy 127.0.0.1:8102 {
#		header_down Strict-Transport-Security max-age=31536000;
#	}
#}

varnishlog.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	log vlog {
		level INFO
		format json
		output file /var/log/caddy/vlog.log {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 196h
		}
	}

	reverse_proxy 127.0.0.1:8080 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

bree.iou.re {
	tls aomanu+caddy@gmail.com
	bind 0.0.0.0

	root * %%bree_root%%
	file_server
}
